body{
    background-size: cover;
    background-position: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25px;
    font-weight: bold;
    
}

.heading{
    width: 100%;
    margin: 0;
    font-size: 30px;
    font-weight: bold;

}

.note{
    color: red;
    font-size: 18px;
}

.div_1{
    float: none;
    box-shadow: 10px 10px 10px grey;
}

.listen{
    float: right;
    width: 50px;
}

.Q2,.Q3,.Q4,.Q5,.endgame,.success{
    display:none

}

